@import url('https://fonts.googleapis.com/css?family=Ubuntu+Condensed&subset=cyrillic');
*{box-sizing:content-box; outline:none !important;}
html{height:100%; font-size:14px; -moz-text-size-adjust:100%; -ms-text-size-adjust:100%; -o-text-size-adjust:100%; -webkit-text-size-adjust:100%; text-size-adjust:100%;}
body{width:100%; height:100%; margin:0 auto; padding:0; -webkit-font-smoothing: antialiased; -moz-font-smoothing: antialiased; -o-font-smoothing: antialiased; font-family: 'Ubuntu Condensed', sans-serif; font-size:30px; line-height:33px; color:#434343; overflow-x:hidden !important; position:relative;}
h1, h2, h3, h4, h5, h6, p{display:block; margin:0; padding:0; font-weight:400;text-transform:uppercase;font-family:"SegBlack", sans-serif;}
.h1, .h2, .h3, .h4, .h5, .h6{margin:0; padding:0; float:none;}
img, input, textarea, button, a{border:none; outline:none; font-family: 'Ubuntu Condensed', sans-serif; font-weight:400;}
textarea{position:relative; overflow:hidden; resize:none; box-sizing:border-box; display:block; width:100%;}
a{cursor:pointer; color:#434343; text-decoration:none;}
a:hover{text-decoration:none;}
table{border-spacing:0;}
td, th{vertical-align:top; word-wrap:break-word;}
ul, nav, dl{margin:0; padding:0; list-style:none;}
button{display:block; cursor:pointer; box-sizing:border-box; padding:0;}
button:hover, .button:hover{transition: opacity 1.2s, visibility 0s linear 1.2s; opacity:0.6;}
.inner{position:relative; width:96%; max-width:960px; margin:0 auto;}
.clear{clear:both; height:1px;}
.fleft{float:left;}
.fright{float:right;}
.db{display:block;}
.inb{display:inline-block;}
.in{display:inline;}
.hide{display:none;}
.hideI{display:none !important;}
.w16{width:16.66666666666666%;}
.w20{width:20%;}
.w25{width:25%;}
.w28{width:28%;}
.w30{width:30%;}
.w33{width:33%;}
.w33-3{width:33.333333333333%;}
.w40{width:40%;}
.w45{width:45%;}
.w48{width:48%;}
.w50{width:50%;}
.w52{width:52%;}
.w50I{width:50% !important;}
.w55{width:55%;}
.w60{width:60%;}
.w65{width:65%;}
.w66-6{width:66.6666666666666%;}
.w75{width:75%;}
.w100{width:100%;}
.h100{height:100%;}
.h100vh{height:100vh;}
.h20p{height:20px;}
.tb{display:table;}
.tbc{display:table-cell;}
.vM{vertical-align:middle;}
.vT{vertical-align:top;}
.vB{vertical-align:bottom;}
.rL{position:relative;}
.fixed{position:fixed;}
.abs{position:absolute;}
.hid{overflow:hidden;}
.m0{margin:0;}
.m0I{margin:0 !important;}
.m0a{margin:0 auto;}
.m05{margin:0 5%;}
.p0{padding:0;}
.alCenter{text-align:center;}
.alRight{text-align:right;}
.alLeft{text-align:left;}
.cp{cursor:pointer;}
.cd{cursor:default;}
.zt200{z-index:200;}
.box{box-sizing:border-box;}
.ell{text-overflow:ellipsis; white-space:nowrap; overflow:hidden;}
.tbr{display:table-row-group;}
.tr{display:table-row;}
.bgn{background:none !important;}
.row{margin:0; float:none;}
.b0{bottom:0;}
.t0{top:0;}
.r0{right:0;}
.l0{left:0;}
.upp{text-transform:uppercase;}
.low{text-transform:lowercase;}
.on_dekstop{display:block;}
.on_mobile{display:none;}
.on_tablet{display:none;}
.on_tablet_and_mobile{display:none;}
.on_tablet_and_dekstop{display:block;}
blockquote{margin:0; padding:0; display:block;}
section{position:relative;}
main{position:relative;  clear:both;}
header, nav, section, article, aside, footer, main{display:block;}
#wrapper{width:100%; height:auto; min-height:100%; margin:0 auto; position:relative; overflow:hidden;}
#footer{width: 100%; box-sizing: border-box; position: relative; z-index: 2;}
.cover{background-position:center center; background-repeat:no-repeat; background-size:cover;}
.coverTop{background-position:top center; background-repeat:no-repeat; background-size:cover;}
.contain{background-position:center center; background-repeat:no-repeat; background-size:contain;}
.containTop{background-position:top center; background-repeat:no-repeat; background-size:contain;}
.containBot{background-position:bottom center; background-repeat:no-repeat; background-size:contain;}
.scale{-moz-transition:all 1s ease-out; -o-transition:all 1s ease-out; -webkit-transition:all 1s ease-out; transition:all 1s ease-out;}
.scale:hover{-webkit-transform:scale(1.1); -moz-transform:scale(1.1); -o-transform:scale(1.1); transform: scale(1.1);}
.rotate{transition:0.4s;}
.rotate:hover{-moz-transform:rotate(360deg); -moz-transition-duration:1000ms;-moz-transition-timing-function: ease-out;  -webkit-transform:rotate(360deg); -webkit-transition-duration:1000ms;-webkit-transition-timing-function: ease-out;  -o-transform:rotate(360deg); -o-transition-duration:1000ms; -o-transition-timing-function: ease-out;  transform:rotate(360deg); transition-duration:1000ms;transition-timing-function: ease-out;}
.round{border-radius:50%;}

.owl-stage-outer{position:relative; overflow:hidden;}
.owl-stage{position:relative; overflow:hidden;}
.owl-item{position:relative; overflow:hidden; float:left;}
.owl-nav.disabled{display:none;}

.inputbox::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease;}
.inputbox::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;}
.inputbox:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;}
.inputbox:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease;}
.inputbox:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.inputbox:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.inputbox:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.inputbox:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea::-webkit-input-placeholder{opacity: 1; transition: opacity 0.3s ease;}
.textarea::-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;}
.textarea:-moz-placeholder{opacity: 1; transition: opacity 0.3s ease;}
.textarea:-ms-input-placeholder{opacity: 1; transition: opacity 0.3s ease;}
.textarea:focus::-webkit-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus::-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus:-moz-placeholder{opacity: 0; transition: opacity 0.3s ease;}
.textarea:focus:-ms-input-placeholder{opacity: 0; transition: opacity 0.3s ease;}

.inputbox:focus, .textarea:focus{border-color: rgba(6, 31, 92, 0.8); outline: 0; outline: thin dotted \9;
 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 81, 147, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 81, 147, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 81, 147, 0.6); }
.inputbox, .textarea{-webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075); -webkit-transition: border linear 0.2s, box-shadow linear 0.2s; -moz-transition: border linear 0.2s, box-shadow linear 0.2s; -o-transition: border linear 0.2s, box-shadow linear 0.2s; transition: border linear 0.2s, box-shadow linear 0.2s;}
.selectBox-menuShowing{border-color: rgba(6, 31, 92, 0.8); outline: 0; outline: thin dotted \9;
 -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 81, 147, 0.6); -moz-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 81, 147, 0.6); box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.075), 0 0 8px rgba(40, 81, 147, 0.6); z-index:991;}

/* global */
.g-hidden { display: none; }
.g-line { zoom: 1; }
.g-line:after { content: "."; display: block; height: 0; clear: both; visibility: hidden; }

/* modal */
.b-modal { position: relative; margin:0 auto;}
.b-modal_close { background:url('../img/x_modal.png') no-repeat; width:10px; height:10px; cursor:pointer; z-index:400; position:absolute; right:15px; top:15px;}
.b-modal_close:hover{}

.b-modal{position:relative; z-index:990;}

/* modal */
.arcticmodal-overlay,
.arcticmodal-container { position: fixed; left: 0; top: 0; right: 0; bottom: 0; z-index: 11000; }
.arcticmodal-container { overflow: auto; margin: 0; padding: 0; border: 0; border-collapse: collapse; }
*:first-child+html .arcticmodal-container { height: 100% }
.arcticmodal-container_i { height: 100%; margin: 0 auto; width:100%; }
.arcticmodal-container_i2 { padding: 24px; margin: 0; border: 0; vertical-align: middle; }
.arcticmodal-error { padding: 20px; -moz-border-radius: 10px;  -webkit-border-radius: 10px;  -khtml-border-radius: 10px;  border-radius: 10px; background: #000; color: #fff; }

select.nice, .selectBox{display:inline-block; padding-right:25px; outline:none !important; box-sizing:border-box; position:relative; vertical-align:top; padding-left:10px; width:auto; cursor:pointer; height:26px; line-height:26px; font-size:13px; position:relative; text-decoration:none; border:1px solid #c1c1c1; background:#fff; width:100%; color:#4a4a49; border-radius:3px;}
.selectBox:hover{color:#000; text-decoration:none;}
.selectBox-label{padding:0; white-space:nowrap; position:relative; text-overflow:ellipsis; z-index:400;}
.selectBox-arrow{position:absolute; z-index:300; cursor:pointer; top:50%; margin-top:-7px; right:15px; color:#a2a2a2; font-size:20px; line-height:20px; transition:0.4s;}
.selectBox-menuShowing .selectBox-arrow{transform:rotate(180deg);}
.selectBox-dropdown-menu{position:absolute; list-style:none; background:#fff; margin:0; padding:0; z-index:99990; border:1px solid #c4c4c4; max-height:290px; overflow:auto;}
.selectBox-dropdown-menu li{display:block; outline:none !important;}
.selectBox-dropdown-menu li a{font-size:15px; color:#a2a2a2; line-height:22px; list-style:none; outline:none !important; padding:5px 22px; display:block; cursor:pointer; white-space:normal;}
.selectBox-dropdown-menu li a:hover{background-color:#f5f5f5; text-decoration:none;}
/*.selectBox-dropdown-menu li:first-of-type{display:none;}*/

.fancy-bg{display:none;}
#fancybox-outer{background:none;}
#fancybox-left, 
#fancybox-right{background:url(../img/detail_arrow.png) no-repeat; width:23px; height:42px; cursor:pointer; z-index:4000; top:50%; margin-top:-21px; left:-36px;}
#fancybox-right{left:auto; right:-36px; transform:rotate(180deg);}
#fancybox-close{background:url(../img/fancy_close.png) no-repeat; width:31px; height:30px; cursor:pointer; position:absolute; display:block; right:10px; top:-35px; transition:0.4s;}
#fancybox-close:hover{-moz-transform:rotate(360deg); -moz-transition-duration:1000ms;-moz-transition-timing-function: ease-out;  -webkit-transform:rotate(360deg); -webkit-transition-duration:1000ms;-webkit-transition-timing-function: ease-out;  -o-transform:rotate(360deg); -o-transition-duration:1000ms; -o-transition-timing-function: ease-out;  transform:rotate(360deg); transition-duration:1000ms;transition-timing-function: ease-out;}