@font-face {
    font-family: 'Proxima Nova Regular';
    src: url('Proxima Nova Regular.eot');
    src: url('Proxima Nova Regular.woff') format('woff'), url('Proxima Nova Regular.ttf') format('truetype'), url('Proxima Nova Regular.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'RobotoMedium';
    src: url('RobotoMedium.eot');
    src: url('RobotoMedium.eot') format('embedded-opentype'),
         url('RobotoMedium.woff2') format('woff2'),
         url('RobotoMedium.woff') format('woff'),
         url('RobotoMedium.ttf') format('truetype'),
         url('RobotoMedium.svg#RobotoMedium') format('svg');
}

@font-face {
    font-family: 'Proxima Nova Bold';
    src: url('Proxima Nova Bold.eot');
    src: url('Proxima Nova Bold.woff') format('woff'), url('Proxima Nova Bold.ttf') format('truetype'), url('Proxima Nova Bold.svg') format('svg');
    font-weight: normal;
    font-style: normal;
}
@font-face {
    font-family: 'MyriadProBold';
    src: url('MyriadProBold.eot');
    src: url('MyriadProBold.eot') format('embedded-opentype'),
         url('MyriadProBold.woff2') format('woff2'),
         url('MyriadProBold.woff') format('woff'),
         url('MyriadProBold.ttf') format('truetype'),
         url('MyriadProBold.svg#MyriadProBold') format('svg');
}
