@media (max-width: 1520px){
#header .tb .right_side .contacts__block .row .popup{right:0px;}
#header .tb .right_side .contacts__block .row:hover .popup{top:26px;}
#header .tb .right_side .contacts__block .row .popup:before{left:90%;transform: rotate(90deg);top:-9px;}
}

@media (max-width:1200px){
/*============= facts ===============*/
.facts .row .block > div.rL .number{margin-top:0px;font-size:60px;line-height:60px;}
.facts .row .block > div.rL .discription{margin-top:0px;}

/*============= banner ==============*/
.banner .banner_wrapper{background: none;}
.banner .banner_wrapper .inner{max-width:none;width:auto;}
.banner .banner_wrapper .banner_slider{background:#edf3f6;padding:0px;}
.banner .banner_wrapper .banner_slider .item > .tb{display:block;}
.banner .banner_wrapper .banner_slider .item > .tb > .tbc{display:block;width:auto;}
.banner .banner_wrapper .banner_slider .item .image_block{padding: 47px 65px 0px 65px;}
.banner .banner_wrapper .banner_slider .item .description_block{padding:40px 65px;background: linear-gradient(to right, #0181bc, #60d0e4);margin-top:-100px;}
.banner .banner_wrapper .banner_slider .item .description_block .inner{max-width:640px;width:96%;}
.banner .banner_wrapper .banner_slider .owl-nav div{background: url("../img/banner_nav_hover.png")no-repeat;background-size:contain;}
.banner .banner_wrapper .banner_slider .owl-nav .owl-next{right:10px;}
.banner .banner_wrapper .banner_slider .owl-nav .owl-prev{left:10px;}
}
@media (max-width:1100px){
/*========== way_of_work ============*/
.way_of_work .catalog_way .row .block:before{display:none !important;}
.way_of_work .catalog_way_1{display:none;}
.way_of_work .catalog_way_2{display:block;}
.way_of_work .catalog_way .row .block > div.rL{padding-left:12px;}
.way_of_work .catalog_way .row .block:hover > div.rL{padding-left:12px;}

/*============= facts ===============*/
.facts .row .block{height:256px;}
.facts .row .block > div.rL .number{font-size:54px;line-height:46px;}
}
@media (max-width:1000px){
#header .tb .right_side .contacts__block .row:hover .popup{display: none;}

#map{height:281px;}
#subfooter{display:none;}
#footer{height:auto;margin-top:0px;}
/*header*/
#header .tb .menu{padding-left:0;}
#header .tb .menu > ul > li+li{margin-left:30px;}
/*============= facts ===============*/
.facts .row .block{height:232px;}
.facts .row .block > div.rL .number{font-size:50px;line-height:44px;}
.facts .row .block > div.rL .discription{font-size:13px;line-height:15px;}

/*=========== feedback =============*/
.feedback form > div.rL > .fright{margin-left:21px;}
.feedback form .quality .fright{margin-left:21px;}

/*=========== tech_task =============*/
.tech_task form > div.rL > .fright{margin-top:46px;}
.tech_task form > div.rL .input_block{width:48%;}
.tech_task form > div.rL .input_block:nth-child(2n-1){margin-left:0px;}

/*============= present =============*/
.present .w50{padding-right:80px;}

/*=========== co_packing ============*/
.co_packing{padding:0 0 43px;}
.co_packing:after{right:45%;height:310px;}
.co_packing .w50{padding:42px 0 38px 100px;margin-top:-44px;width:55%;}

/* news */
.news .inner{padding:30px 0 50px;}
.news .row .block{height:350px;margin-bottom:30px;}
.news .row .block .image{width:240px;}
.news .row .block .image .date{font-size:16px;line-height:19px;padding:10px 5px;width:143px;right:-100px;text-indent:20px;}

/* case_page */
.case_page .inner{display:block;}
#breadcrumbs{text-align:center;display:block;padding-right:0px;}
.case_page h1{float:none;text-align:center;display:block;margin-top:22px;}
.case_page .case_description{padding:145px 0 45px;}
.case_page .case_description .inner{display:block;}
.case_page .case_description .image_block{max-width:478px;margin:0 auto;width:auto;display:block;padding-right:0px;margin-bottom:35px;}
.case_page .case_description .description{padding-left:15px;}

/*============= services ==============*/
#main .services .item .description_block h2{font-size:26px;line-height:30px;}
.services .item .image_block{padding:0 35px 0 0;}
.services .item .image_block.right_block{padding:0 0 0 35px;}
.services .item .description_block{padding-left:40px;}
/*============= cases ==============*/
.cases .item{height:auto;display: block;display: -webkit-block;align-items: center;}
.cases .item:nth-child(2n+1){background:#edf3f6;}
.cases .item:nth-child(2n){background:#edf3f6;}
.cases .inner{max-width:none;width:auto;}
.cases .item .inner > .tb{display:block;}
.cases .item .inner > .tb > .tbc{display:flex;display: -webkit-flex;width:auto;align-items:center;}
.cases .item .image_block{padding: 47px 65px 0 65px;}
.cases .item .image_block.right_block{padding: 47px 65px 0 65px;}
.cases .item .description_block{padding:40px 0px;padding-left:10px;background: linear-gradient(to right, #0181bc, #60d0e4);margin-top:-100px;}
.cases .item .description_block.left_block{padding:40px 0px;padding-left:10px;}
.cases .item .description_block .inner{max-width:640px;width:96%;}
.cases .item .description_block .service .tbc + .tbc{padding-left:0px;}
.cases .item .description_block.hide_adap{display:none !important;}
.cases .item .descript_adap{display:block;}
.cases .other{padding-bottom:106px;}
.cases .other h2{padding-left:75px;text-align:left;}

}
@media (max-width:920px){
/*============= header ==============*/
#header .tb .menu > ul > li+li{margin-left:0px;}
#header .tb .menu > ul > li.active > a:after{display:none;}
#header .tb .menu > ul > li{display:block;width:auto;}
#header .tb .menu > ul > li > a{padding:3px 0px;}
#header .tb .menu ul li .popup_menu.active{top:20px;}
#header .tb .menu > ul li .popup_menu ul{margin-top:12px;}
/*========== way_of_work ============*/
.way_of_work .catalog_way .row .block > div.rL .content{font-size:12px;line-height:15px;}
.way_of_work .catalog_way .row .block:hover > div.rL .content{font-size: 10px;}

/*============= facts ===============*/
.facts .row .block{height:213px;}
.facts .row .block > div.rL .number{font-size:44px;line-height:40px;}

/*========= high_lvl ===========*/
.high_lvl{font-size:20px;line-height:23px;margin-bottom:45px;}
.high_lvl h3{line-height:28px;}
.high_lvl .allotted{font-size:18px;}

.co_packing.abc_p{margin-bottom:43px;}

.about_company ul li a{font-size:18px;line-height:21px;}

.facts.abc_p{padding-top:30px;}

/*============= cases ==============*/
.cases .other h2{margin-bottom:-15px;}
}
@media (max-width:860px){
/*============= facts ===============*/
.facts .row{margin-right:-5px;}
.facts .row .block{padding-right:5px;height:202px;}
.facts .row .block > div.rL .number{font-size:40px;line-height:40px;}
.facts .row .block > div.rL .discription{max-width:140px;}
}
@media (max-width:800px){
/*============= facts ===============*/
.facts .row .block{height:190px;}
}
@media(max-width:767px){
/*============= facts ===============*/
.facts .row .block{height:176px;}
}
@media (max-width:740px){
#main .inner > h2{font-size:30px;line-height:34px;}
#main .title_blue{font-size:18px;line-height:21px;margin:20px auto 0;}

/*============= header ==============*/
#header{padding:14px 0px 65px;}
#header .inner{display:block;}
#header .tb .menu{position:absolute;bottom:-65px;width:100%;padding-left:0px;}
#header .tb .menu .icon{display:block;}
#header .tb .menu > ul{display:none;}
#header .tb .logo{display:block;width:auto;padding-right:0px;}
#header .tb .logo img{margin:0 auto;}
#header .tb .right_side{display:block;margin:26px auto 0;padding:0px;}
#header .tb .right_side .enter{text-align:center;padding-left:34px;}

/*=========== advantages ============*/
.advantages{padding:40px 0px 35px;}
.advantages .inner .tb{display:block;width:auto;padding-left:15px;}
.advantages .inner .tb .tbc{width:auto;display:block;}
.advantages .inner .tb .tbc.left_side{padding-right:0px;}
.advantages .inner .tb .tbc+.tbc{margin-top:25px;}
.advantages .inner .tb .tbc .block{margin:25px auto 0;}

/*============= facts ===============*/
.facts{padding-top:33px;}
.facts .row .block{width:50%;height:180px;}

/*============= present =============*/
.present{padding:0px 0px 164px;}
.present:after{top:223px;height:207px;left:15%;}
.present .w50{padding:17px 14px 50px 0px;width:90%;}
.present .w50 > div.rL{font-size:17px;line-height:20px;float:left;padding-left:15px;}

/*=========== co_packing ============*/
.co_packing{padding:220px 0 172px;}
.co_packing.case_page{padding-bottom: 171px;margin-bottom: 40px;}
.co_packing:after{top:219px;right:8%;height:214px;}
.co_packing .w50{padding:31px 0 38px 20px;margin-top:-220px;width:95%;}
.co_packing .w50 > div.rL{font-size:17px;line-height:20px;}

/*========= high_lvl ===========*/
.about_company{border-top:0px;}
.co_packing.about_company{margin-bottom: 40px;}
.about_company ul{text-align:left;margin-top:50px;padding:5px 0px 10px;max-width:310px;}
.about_company ul:before{content:"";position:absolute;right:0px;top:-28px;background:url("../img/select_arr.png")no-repeat right center;width:100%;height:20px;transition: transform 0s;cursor:pointer;}
.about_company ul.select:before{transform:rotate(180deg);width:9px;height:9px;top:-22px;transition:transform 0.6s;}
.about_company ul li{width:auto;opacity:0;transition:opacity 0.6s;top:-1000em;position:absolute;display:block;}
.about_company ul li.active{position:absolute;left:0;top:-35px;opacity:1;}
.about_company .select {border:1px solid #60d0e4;border-radius:3px;transition:0.6s;}
.about_company .select li{position:relative;top:0px;opacity:1;}
.about_company ul li{padding:4px 8px;}

.facts.abc_p{padding-top:5px;}

/* news */
.news .inner{padding:0 0 50px;}
.news .row .block{height:auto;margin-bottom:30px;float:none;width:auto;}
.news .row .block .image{width:190px;}
.news .row .block .image .date{font-size:16px;line-height:19px;padding:10px 5px;width:143px;right:-100px;text-indent:20px;}
/* services */
.title_services{display:none;}
.services{margin-top:19px;}
.services .item{height:auto;display: block;display: -webkit-block;align-items: center;}
.services .item:nth-child(2n+1){background:#edf3f6;}
.services .item:nth-child(2n){background:#edf3f6;}
.services .inner{max-width:none;width:auto;}
.services .item .inner > .tb{display:block;}
.services .item .inner > .tb > .tbc{display:flex;display: -webkit-flex;width:auto;align-items:center;}
.services .item .image_block{padding: 35px;}
.services .item .image_block.right_block{padding: 35px;}
.services .item .image_block .tbc{height:auto;}
.services .item .image_block img{height:auto !important;max-height:190px !important;width:90% !important;}
.services .item .description_block{padding:40px 0px;background: linear-gradient(to right, #0181bc, #60d0e4);}
.services .item .description_block.left_block{padding:40px 0px;}
#main .services .item .description_block h2{text-align:center;}
.services .item .description_block .inner{max-width:640px;width:96%;}
.services .item .description_block .service .tbc + .tbc{padding-left:0px;}
.services .item .description_block.hide_adap{display:none !important;}
.services .item .descript_adap{display:block;}

/*case_page*/
.case_page{border-top:0px;}
}
@media (max-width:700px){
/*============= banner ==============*/
.banner .banner_wrapper .banner_slider .item .image_block{padding:33px 23px 0px;}
.banner .banner_wrapper .banner_slider .item .description_block{padding:30px 23px;text-align:center;margin-top:-55px;}
.banner .banner_wrapper .banner_slider .item .description_block .txt{margin:15px auto 0;font-size:15px;line-height:20px;}
.banner .banner_wrapper .banner_slider .item .description_block .service .tbc{display:block;width:auto;text-align:left;}
.banner .banner_wrapper .banner_slider .item .description_block .service .tbc+.tbc{padding-left:0px;margin-top:-9px;}
.banner .banner_wrapper .banner_slider .item .image_block img{height: auto !important;}
/*========== way_of_work ============*/
.way_of_work .inner{padding:50px 0px 19px;}
.way_of_work .catalog_way{margin-top:25px;}
.way_of_work .catalog_way .inner{max-width:none;width:auto;}
.way_of_work .catalog_way .row{margin-right:0px;}
.way_of_work .catalog_way .row .block{float:none;width:auto;margin-bottom:12px;padding-right:0px;height:auto;}
.way_of_work .catalog_way .row .block > div.rL .content{font-size:15px;line-height:15px;}
.way_of_work .catalog_way .row .block:hover > div.rL .content{font-size:14px;}

/*============= footer =============*/
#footer .footer__contacts{padding:45px 0 40px;}
#footer .footer__contacts > .tb{display:block;width:auto;}
#footer .footer__contacts > .tb > .tbc{width:auto;display:block;}
#footer .footer__contacts > .tb > .tbc + .tbc{margin-top:40px;}
#footer .footer__contacts .tb > .tbc .contacts__block{max-width:290px;margin:20px auto 0;}
#footer .footer__contacts .tb > .tbc .contacts__block .row{;margin-left:40px;}

/*============= review ==============*/
.review{padding-bottom:65px;}
.review .inner{width:160%;left:-30%;max-width:none;}
.review .review_slider .item{font-size:14px;line-height:17px;}

/*============= cases ==============*/
.cases .inner{text-align:center;}
.cases .item .image_block{padding:33px 20px 0px;}
.cases .item .image_block.right_block{padding:33px 20px 0px;}
.cases .item .image_block img{width:80% !important;height: auto !important;}
.cases .item .description_block{padding:20px;margin-top:-60px;cursor:pointer;min-height: 124px;transition:0.6s;}
.cases .item .description_block.left_block{padding:20px;}
.cases .item .description_block .inner h2 i{display:block;}
.cases .item .description_block .txt{display:none;}
.cases .item .description_block .service{display:none;}
.cases .item .description_block .txt{max-width:250px;text-align:center;margin:26px auto 0;font-size:15px;line-height:20px;}
.cases .item .description_block .service .tbc{display:block;width:auto;text-align:left;}
.cases .item .description_block .service .tbc + .tbc{padding-left:0px;margin-top:-9px;}
.cases .item .description_block.active .txt{display:block;}
.cases .item .description_block.active .service{display:block;}
.cases .item .description_block.active h2{min-height:none;}
#main .cases .item .description_block h2{font-size:26px;line-height:30px;transition:0.6s;display:inline;}

.cases .other{padding:30px 0px 35px;}
#main .cases .other h2{margin-bottom:10px;padding:0px;text-align:center;font-size:26px;line-height:30px;}
.cases .other h2 i{display:block;}
.cases .other .inner > div.rL .tbc img{top:0px !important;}
}
@media(max-width:640px){
/*=========== feedback =============*/
.feedback form{padding:0px 10px 291px;}
.feedback form .quality{padding:28px 0px 24px 62px;border-top:0px;border-bottom:2px dashed #edf3f6;}
.feedback form .quality .fright{float:none;margin:0px;position:absolute;left:50%;margin-left:-86px;bottom:25px;}
.feedback form.hide_you .quality{padding-bottom: 70px;}
.feedback form.hide_you .quality .showIt{float:none;margin:0px;position:absolute;left:50%;margin-left:-86px;bottom:25px;}
.feedback form .quality .quality__title .image{left:-62px;}
.feedback form > div.rL{position:absolute;bottom:105px;left:0px;padding:0px 27px 67px 27px;width:100%;box-sizing:border-box;}
.feedback form.hide_you > div.rL{bottom:0px;padding:0px 27px 67px 27px;}
.feedback form > div.rL > .fright{margin:0px;float:none;position:absolute;left:50%;margin-left:-86px;bottom:0px;}
.feedback form > div.rL .input_block{float:none;width:auto;margin:0px;}
.feedback form > div.rL .input_block + .input_block{margin:6px 0 0;}

/*=========== tech_task =============*/
.tech_task form{padding:0px 10px;}
.tech_task form .quality{padding:85px 0px 18px 65px;}
.tech_task form .quality .fright{float:none;margin:0px;position:absolute;left:50%;margin-left:-86px;top:19px;}
.tech_task form.hide_you .quality .showIt{float:none;margin:0px;position:absolute;left:50%;margin-left:-86px;top:19px;}
.tech_task form .quality .quality__title .image{left:-62px;}
.tech_task form > div.rL{padding:22px 0px 100px;}
.tech_task form > div.rL > .fright{margin:0px;position:absolute;left:50%;margin-left:-86px;bottom:32px;}
.tech_task form > div.rL .input_block{float:none;width:auto;margin-top:0px;}
.tech_task form > div.rL .input_block+.input_block{margin-top:6px;}
.tech_task form > div.rL .input_block + .input_block{margin-left:0px;}

/*========= certificates ===========*/
.certificates .inner{padding:40px 0px 50px;}
.certificates .row{margin:0px 30px;margin-top:15px;}
.certificates .row .block{width:50%;}

}

@media (max-width:560px){
/*============= banner ==============*/
.banner .banner_wrapper .banner_slider h2 i{display:block;}
.banner .banner_wrapper .banner_slider .item .description_block .txt{max-width:250px;}
.banner .banner_wrapper .banner_slider .owl-nav div{width:36px;height:36px;margin-top:-18px;}
#main .banner .banner_wrapper .banner_slider .item .description_block h2{font-size:26px;line-height:30px;}
/*========= high_lvl ===========*/
.high_lvl{margin-bottom:40px;}
.co_packing.abc_p{margin-bottom:55px;}

/* case_page */
.case_page{34px 0 15px;}
#breadcrumbs a.rL{font-size:15px;}
.case_page h1{font-size:28px;line-height:30px;}
.case_page .case_description .image_block{margin-bottom:75px;}
.case_page .case_description .image_block img{max-width:258px;max-height:250px;margin-top: -63px !important;margin-bottom:-39px;}
.case_page .case_description{padding:90px 0px 25px;}
.case_page .case_description .description{font-size:18px;line-height:21px;}
.case_page .case_description .description .service > .tbc{display:block;width:auto;}
.case_page .case_description .description .service .tbc + .tbc{padding:0px;margin-top:-9px;}
}

@media (max-width:400px){
/*============= review ==============*/
.review .inner{width:180%;left:-40%;}

/*============= banner ==============*/
.banner .banner_wrapper .banner_slider .owl-nav div{top:32%;}

/*=========== advantages ============*/
.advantages .inner .tb .tbc .block .title{font-size:16px;}

/*============= facts ===============*/
.facts .row .block{height:144px;}
.facts .row .block > div.rL .number{font-size:32px;line-height:32px;}
.facts .row .block > div.rL .discription{font-size:10px;line-height:12px;}
}